<div
  class="user-profile-container w-[600px] h-[500px] bg-white p-4 flex items-center rounded-lg"
>
  <div class="flex-1 flex items-center justify-center w-full h-full">
    <p-avatar
      [label]="userProfileStore.userProfile()?.nickname | firstChar"
      shape="circle"
    />
  </div>
  <div
    class="flex flex-col gap-4 text-black flex-1 justify-center w-full h-full ml-4"
  >
    <div class="flex flex-col gap-1">
      <span class="text-sm font-medium">Nickname:</span>
      <span class="text-xs text-gray-400">{{
        userProfileStore.userProfile()?.nickname
      }}</span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm font-medium">Email:</span>
      <span class="text-sm text-gray-400">{{
        userProfileStore.userProfile()?.email
      }}</span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm font-medium">Phone:</span>
      <span class="text-sm text-gray-400">{{
        userProfileStore.userProfile()?.phone
      }}</span>
    </div>
    <div class="flex flex-col gap-1">
      <span class="text-sm font-medium">Country:</span>
      <span class="text-sm text-gray-400">{{
        countriesMap[userProfileStore.userProfile()?.country || ""]
      }}</span>
    </div>
    <p-button
      [label]="'Edit Profile'"
      icon="pi pi-pencil"
      [outlined]="true"
      (onClick)="showEditProfileDialog.set(true)"
    />
  </div>
</div>

@if (showEditProfileDialog()) {
  <app-edit-profile-dialog
    [visible]="showEditProfileDialog()"
    (onClose)="showEditProfileDialog.set(false)"
  />
}
